 <!-- form -->
 <form action="/api/users" id="add_user" method="post">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="" id="">
            <input type="text" name="name" value="" placeholder="Enter Full Name">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Batch</label>
            <input type="number" name="batch" value="" placeholder="18">
        </div>
     <div class="form-group">
         <label for="name" class="text-light">Email</label>
         <input type="text" name="email" value="" placeholder="example@gmail.com">
     </div>
     
     <div class="form-group">
         <label for="name" class="text-light">Phone</label>
         <input type="number" name="phone" value="" placeholder="+0000000000">
     </div>
     <div class="form-group">
         <button type="submit" class="btn text-dark update">Save</button>
     </div>
    </div>
 </form>